# Neutralinojs
.tmp/
dist/
bin/
test_zip/
*.neu
*.exe
neutralino-win_x64.exe
neutralino-linux_x64
neutralino-mac_x64

# Visual Studio / IDE
.vs/
*.user
*.suo
*.sln

# Distribution
*.zip
*.msi

# Logs
*.log
npm-debug.log*

# Node
node_modules/

# OS
Thumbs.db
.DS_Store
